#main-header{
    text-align: center;
    background-color: teal;
    color: black;
    padding: 20px;
}
#main-footer{
    text-align: center;
    font-size: 20px;
}
.body{
    background-color: gray;
}
#heading{
text-align: justify;
color: cornflowerblue;
font-size: 20px;
font-family:'Courier New', Courier, monospace;
}